/*@tailwind base;
@tailwind components;
@tailwind utilities;*/
@import 'primeflex/primeflex.css';


body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(10, 10, 10);
}

.container > *:not(:last-child) {
  margin-bottom: 25px; /* Adjust the margin value as needed */
}