body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.container div {
  position: relative;
  left: -250px;
}

.grafana-panel {
  position: absolute;
}