body {
  margin: 0;
  overflow: hidden;
}

#root {
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #F5F7FB;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
}

.yellow-dot {
  position: absolute;
  top: -100px;
  right: -180px;
  width: 400px;
}

.blue-dot {
  position: absolute;
  bottom: -200px;
  left: -250px;
  width: 600px;
}