body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #F5F7FB;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.blue-dot {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  z-index: -1;
}

.yellow-dot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;
  z-index: -1;
}