body {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background-color: #F5F7FB;
  display: flex;
  /* place-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  font-family: Karla, sans-serif;
}

button {
  font-family: Inter, sans-serif;
}